:root{
  --cardMargin:30px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins;
  background-color: rgb(244,244,244);
  width:100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
